@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.card1{
    margin-top:150px ;
}
.about-card{
    height: 100px;
    width: 300px ;
    margin-left: -100px;
    text-align: justify;
}